@import "../../styles/Variables.scss";
@import "../../styles/Responsive.scss";

.navbar {
  padding-inline: 10%;

  @include Mobile{
    padding-inline: 1rem;
  }


  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid $Grayish-blue;
    padding-block: 2.5rem;

    @include Mobile{
      justify-content: unset;
      padding-block: 1.5rem;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 3rem;

      @include Mobile{
        width: 100%;
      }

      .logo {
        cursor: pointer;
      }

      .navLinksModal {

        @include Mobile{
          background: #000000a6;
          position: fixed;
          left: -100%;
          top: 0;
          bottom: 0;
          z-index: 100;
          backdrop-filter: blur(2px);
          transition: .5s;
          width: 100%;
        }

        &.toggleMenu{
          left: 0;
        }


        .navLinks {
          display: flex;
          align-items: center;
          gap: 2rem;
          color: $Dark-grayish-blue;

          @include Mobile{
            background: $White;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            flex-direction: column;
            width: 70%;
            padding-left: 2rem;
            align-items: flex-start;
            padding-top: 25%;
            color: #000;
            font-weight: bold;
            font-size: 18px;
          }

          li {
            cursor: pointer;
            position: relative;
            transition: 0.3s;

            &::before {
              content: "";
              position: absolute;
              left: 50%;
              width: 0%;
              height: 3px;
              background: $Orange;
              bottom: -3.5rem;
              opacity: 0;
              transition: 0.3s;

              @include Mobile{
                display: none;
              }
            }

            &:hover {
              color: black;

              &::before {
                width: 100%;
                left: 0;
                opacity: 1;
              }
            }
          }
        }
      }

      .close{

        display: none;
        cursor: pointer;

        @include Mobile{
          display: block;
          position: absolute;
          top: 2rem;
          left: 2rem;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 3rem;

      @include Mobile{
        gap: 1rem;
      }

      .cartIconWrapper {
        position: relative;
        cursor: pointer;

        img {
          transition: 0.3s;
        }

        &:hover {
          img {
            filter: brightness(0);
          }
        }

        span {
          position: absolute;
          background: $Orange;
          color: $White;
          top: -5px;
          left: 10px;
          font-size: 9px;
          padding: 0.01rem 0.4rem;
          border-radius: 0.3rem;
          font-weight: bold;
        }
      }

      .avatar {
        width: 50px;
        border: 2px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;

        &:hover{
          border: 2px solid $Orange;
        }

        @include Mobile{
          width: 25px;
          border: initial;
        }
      
      }
    }

    .hamburger {
      display: none;
      cursor: pointer;

      @include Mobile{
        display: block;
        margin-right: 1rem;
      }
    }
  }
}
